.header
    h1 UFO sightings browser

    .row
        .col-lg-4
            p
                form
                    .input-group
                        input.form-control(type='text', placeholder='search', ng-model='searchTerm')
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='search()', ng-disabled='!searchTerm') Go
            .well.well-sm.glimpse(ng-class='glimpseClass(s.obj)', ng-click=('select(s.obj)') ng-repeat='s in sightings')
                span(ng-bind-html='s.obj.description|truncate:200')
        .col-lg-8
            .well(ng-show='selected')
                h3(ng-bind-html='selected.description|highlight:searchTerm')

