extends layout

block content
    script(type="text/x-handlebars")
        .container
            h1
                p
                    img(src="/img/alien.jpg", style="height:100px;width:140px")
                    {{#link-to 'sightings'}} X Files UFO report browser {{/link-to}}

            {{outlet}}

    script(type="text/x-handlebars", data-template-name="sightings")
        h3 Sightings
        .row
            .col-lg-4
                {{#each}}
                .well
                     blockquote
                        {{#link-to 'sighting' this}}
                        {{truncate description}}
                        {{/link-to}}
                     p
                     p
                        i Sighted {{parseDate sighted_at}}
                {{/each}}
            .col-lg-8
                {{outlet}}

    script(type="text/x-handlebars", data-template-name="index")
        h3 Sightings
        .row
            .col-lg-4
                {{#each}}
                .well
                     blockquote
                        {{#link-to 'sighting' this}}
                        {{truncate description}}
                        {{/link-to}}
                     p
                     p
                        i Sighted {{parseDate sighted_at}}

                {{/each}}
            .col-lg-8
                {{outlet}}

    script(type="text/x-handlebars", data-template-name="sighting")
        .well
            h2
                {{description}}