doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body(ng-app='ufo')

    div.container(ng-view)

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/angular.js")
    script(type="text/javascript", src="/js/angular-route.js")
    script(type="text/javascript", src="/js/angular-sanitize.js")
    script(type="text/javascript", src="/js/app.js")
