doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    block content

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/handlebars.js")
    script(type="text/javascript", src="/js/ember.js")
    script(type="text/javascript", src="/js/ember-data.js")
    script(type="text/javascript", src="/js/app.js")
